/* start Global rules*/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --fill-color: #fafafa;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Cairo', sans-serif;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
a {
  text-decoration: none;
}
.container {
    margin-right: auto;
    margin-left: auto;
}
/* Small screens */
@media only screen and (max-width: 767px) {
    .container {
      width: 100%;
      max-width: 100%;
      padding: 0 10px;
    }
  }
  
/* Medium screens */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .container {
      width: 100%;
      max-width: 750px;
      padding: 0 15px;
    }
  }
  
/* Large screens */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .container {
      width: 100%;
      max-width: 970px;
      padding: 0 15px;
    }
  }
  
/* Extra large screens */
@media only screen and (min-width: 1200px) {
    .container {
      max-width: 1170px;
      padding: 0 30px;
    }
  }
/* main tiltle */
.main-title {
  position: relative;
  font-size: 30px;
  font-weight: bold;
  margin: 100px auto;
  padding: 10px 20px;
  width: fit-content;
  border: 2px solid black;
  text-transform: uppercase;
  z-index: 1;

}
.main-title::before {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: var(--main-color);
  left: -30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.main-title::after {
  content: "";
  position: absolute;
  width: 13px;
  height: 13px;
  background-color: var(--main-color);
  right: -30px;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
}
.main-title:hover {
  color: white;
  border: 2px solid white;
  transition-delay: 0.5s;
  transition-timing-function: ease-out;
}
.main-title:hover::before {
  animation: move-right 0.5s ease-out forwards;
  z-index: -1;
}
.main-title:hover::after {
  animation: move-left 0.5s ease-out forwards;
  z-index: -1;
}
/* end Global rules*/
/* start header  */
header {
  background-color: white;
  position: relative;
  -webkit-box-shadow: 0px 0px 10px #ddd;
  -moz-box-shadow: 0px 0px 10px #ddd;
  box-shadow: 0px 0px 10px #ddd;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
header .logo {
  font-size: 26px;
  font-weight: bold;
  color: var(--main-color);
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  header .logo {
    width: 100%;
    height: 50px;
  }
}
header .main-nav > ul {
  display: flex;
}
@media only screen and (max-width: 767px) {
  header .main-nav {
    margin: auto;
  }
}
header .main-nav > ul > li:hover .mega-menu {
  opacity: 1;
  z-index: 100;
  top: calc(100% + 1px);
}
header .main-nav > ul > li > a {
  font-size: 18px;
  color: black;
  padding: 0 30px;
  height: 73px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: var(--main-transition);
  overflow: hidden;
}
@media only screen and (max-width: 767px) {
  header .main-nav > ul > li > a {
    padding: 10px;
    height: 40px;
    font-size: 14px;
  }
}
header .main-nav > ul > li > a::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--main-color);
  top: 0;
  left: -100%;
  transition: var(--main-transition);
}
header .main-nav > ul > li > a:hover{
  background-color: var(--fill-color);
  color: var(--main-color);
}
header .main-nav > ul > li > a:hover::before {
  content: "";
  left: 0;
}
header .mega-menu {
  position: absolute;
  width: 100%;
  left: 0;
  background-color: white;
  z-index: -1;
  opacity: 0;
  display: flex;
  gap: 40px;
  padding: 30px;
  top: calc(100% + 50px);
  opacity: 0;
  border-bottom: 3px solid var(--main-color);
  transition: top var(--main-transition) ease-in-out , opacity var(--main-transition) ease-in-out;
  transition-delay: 0.5s;
}
@media (max-width: 767px) {
  header .mega-menu {
    flex-direction: column;
    gap: 0;
    padding: 5px;
  }
}
header .mega-menu .image img {
  max-width: 100%;
}
@media (max-width: 991px) {
  header .mega-menu .image img {
    display: none;
  }
}
header .mega-menu .links {
  min-width: 250px;
  flex: 1;
}
header .mega-menu .links li {
  position: relative;
}
header .mega-menu .links li:not(:last-child) {
  border-bottom: 1px solid #e9e6e6;
}
@media (max-width: 767px) {
  header .mega-menu .links:first-of-type li {
    border-bottom: 1px solid #e9e6e6;
  }
}
header .mega-menu .links li::before {
  content: "";
  position: absolute;
  background-color: #fafafa;
  top: 0;
  left: 0;
  height: 100%;
  width: 0%;
  z-index: -1;
  transition: var(--main-transition);
}
header .mega-menu .links li:hover::before {
  width: 100%;
}
header .mega-menu .links li a {
  display: block;
  font-size: 18px;
  padding: 15px;
  font-weight: bold;
  color: var(--main-color);
}
header .mega-menu .links li a i {
  margin-right: 15px;
}
/* end header  */
/* start landing */
.landing {
  position: relative;
}
.landing::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ECECEC;
  z-index: -1;
  transform: skewY(-6deg);
  transform-origin: top left;
}
.landing .container {
  min-height: calc(100vh - 73px);
  display: flex;
  align-items: center;
  padding-bottom: 120px;
}
.landing .text {
  flex: 1;
}
@media (max-width: 991px) {
  .landing .text {
    text-align: center;
  }
}
.landing .text h1 {
  font-size: 40px;
  letter-spacing: -2px;
  margin: 0;
}
@media (max-width: 767px) {
  .landing .text h1 {
    font-size: 28px;
  }
}
.landing .text p {
  font-size: 23px;
  color: #777;
  line-height: 1.7;
  margin: 5px 0 0;
  max-width: 500px;
}
@media (max-width: 767px){
  .landing .text p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .landing .text p {
    margin: 10px auto;
  }
}
.landing .image img {
  max-width: 600px;
  position: relative;
  animation: up-down 4s linear infinite;
}
@media (max-width: 991px){
  .landing .image {
    display: none;
  }
}
.landing .go-down {
  position: absolute;
  bottom: 30px;
  color: var(--main-color);
  left: 50%;
  transform: translateX(-50%);   
}
.landing .go-down:hover {
  color: var(--main-color-alt);
}
.landing .go-down i {
  animation: pounce 1.5s linear infinite;
}
/* end landing */
/* start animation */
@keyframes up-down {
  0%, 100%  {
    top: 0;
  }
  50% {
    top: -50px;
  }
}
@keyframes pounce {
  0%,10%,20%,50%,80%,100% {
    transform: translateY(0);
  }
  40%,60% {
    transform: translateY(-15px);
  }
}
@keyframes move-right {
  50% {
    left: 0;
    width: 13px;
    height: 13px;

  }
  100% {
    left: 0;
    border-radius: 0%;
    width: 51%;
    height: 100%;
  }
}
@keyframes move-left {
  50% {
    right: 0;
    width: 13px;
    height: 13px;
    
  }
  100% {
    right: 0;
    border-radius: 0%;
    width: 51%;
    height: 100%;
  }
}
/* end animation */